  /* GLOBAL STYLES  */

  * {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}
:root {
    --sc-color: rgba(242, 206, 218, 0.5);
    --txt-color: rgba(21, 1, 1, 1);
    --btn--color: rgba(210, 49, 102, 1);
}