/* MENU SECTION STYLE START  */

.menu {
    margin-top: 137px;
}
.menu__wrapper {
    display: flex;
    flex-direction: column;
}
.menu__title {
    font-size: 44.2px;
    font-weight: 600;
    line-height: 61px;
    text-align: left;
    color: var(--txt-color);
    margin: 0 auto;
}
.menu__nav {
    display: flex;
    gap: 40px;
    margin: 64px auto;
}
.menu__nav a {
    color: var(--txt-color);
    font-family: 'Roboto', serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.09px;
    text-align: left;
    opacity: 0.6;
    border: 3px solid transparent;
    transition: all 0.3s;
}
.menu__nav a:hover {
    border-bottom-color: var(--btn--color);
    opacity: 1;
}
.menu__card-wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.menu__card {
    display: flex;
}
.menu__card-content-wrapper {
    width: 454px;
}
.menu__card-title {
    font-size: 26px;
    font-weight: 700;
    line-height: 35.88px;
    text-align: left;
    color: var(--txt-color);
}
.menu__card-info {
    font-family: 'Roboto', serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: var(--txt-color);
    opacity: 0.6;
}
.menu__card-price {
    display: inline-block;
    font-size: 26px;
    font-weight: 500;
    line-height: 35.88px;
    text-align: left;
    color: var(--txt-color);
    margin-top: 28px;
}
.menu__card-deleted {
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    line-height: 27.6px;
    text-align: left;
    color: var(--txt-color);
    opacity: 0.6;
    text-decoration: line-through;
    margin-top: 28px;
}